body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* .container {
  width: 1158px;
  padding: 0 15px 0 15px;

  margin: 0 auto;
} */





/* ________________HEDER _________________ */


.heder-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;


}

.header-menu-link.carret {
  position: relative;

}



.header-menu-link.carret::after {
  content: '';
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}


.header-logo {

  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-list {
  display: flex;
  gap: 40px;

}

.header-memu-item {
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  font-style: normal;
  margin-left: auto;

}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.carret {
  color: #404bbf
}

.accent {
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 40px;

}

.header-list {
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-menu-address-link:hover,
.header-menu-address-link:focus {
  color: #404bbf;

}

/* ------------------MAIN------------------------ */





.main-title {
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0 188px;
  display: flex;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;

}

.main-name {

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;




}

.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}


.main-features {
  padding-top: 120px;
  padding-bottom: 120px;
}


.main-features-subtitle {
  display: flex;
  gap: 24px;
  width: 1128px;
}

.main-features-list {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  flex-basis: calc((100% - 3 * 24px) / 4);

}

.main-features-item {
  font-weight: 500px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 8px;

}

.conteiner-main-name {
  margin-bottom: 8px;
}


.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.main-achieved {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;

}

.main-team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;


}

.main-features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
}

.main-link-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}

.main-link-socseti {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-cos-icon {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-link-icon {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-link-icon:hover,
.main-link-icon:focus {
  background: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-team-item {

  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
  text-align: center;
}




.main-team-list {

  gap: 24px;
  text-align: center;
  flex-basis: calc((100 - 3 * 24px) / 4);
  margin-bottom: 8px;
}

.main-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 24px;

}

.main-team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 8px;
  transition: box-shadow 0.3s ease;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.main-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

.main-achieved {
  padding-top: 120px;
  padding-bottom: 120px;


}

.main-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.main-portfolio-picture {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  margin-bottom: 8px;



}

.main-portfolio-list {

  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.main-cover-wrapper {
  position: relative;
  overflow: hidden;


}

.main-cover-text {
  position: absolute;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  font-size: 16px;
  top: 0%;
  width: 360px;
  height: 300px;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);

}

.main-portfolio-list:hover .main-cover-text {
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-portfolio-list:hover {

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-main-portfolio-list {


  gap: 8px;

  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;

  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}



.main-portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.main-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;


}


/* -----------------------------------FOOTER------------------------------- */

.post-footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.post-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  margin-bottom: 16px;
  max-width: 264px;
  align-self: center;
}

.footer-logo {
  color: #f4f4fd;
}

.contancts-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;

  color: #f4f4fd;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-link-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;

}






.footer-main {
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: baseline;
}

.container-logo {
  margin-right: 120px;

}

.footer-list {
  gap: 16px;
}

.footer-color:hover {

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #31d0aa;
}

.footer-color:focus {
  background-color: #31d0aa;
}

.main-link-socseti:first-child a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-forms-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 8px 16px;
}

.footer-form {
  margin-left: auto;


}

.footer-form-icon {
  fill: #fff;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.footer-btn-form {

  border-radius: 4px;
  padding: 8px 24px;
  display: block;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  align-items: center;
  color: #fff;
  border: none;
  display: flex;
  min-width: 165px;
  justify-content: center;
  cursor: pointer;
  margin: o auto;
}

.footer-forms {
  display: flex;
  gap: 24px;
}

.footer-btn-form:hover {
  background-color: #404bbf;

}

.footer-btn-form:focus {
  background-color: #404bbf;
}



.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding: 24px;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-open {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.model-open:hover {
  background-color: #404bbf;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
  border: none;
}


.model-open:focus {
  background-color: #404bbf;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
  border: none;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-contact {
  margin-bottom: 8px;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;

  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;

}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-iconmoon {

  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-inpur {
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
  ;
}

.modal-input:focus+.modal-iconmoon {
  fill: #4d5ae5;
}



.input-wrapper {
  position: relative;
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);




}

.modal-textarea:focus {
  border-color: #4D5AE5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-color: #4D5AE5
}

.modal-field-check {
  margin-bottom: 24px;
}



.modal-bnb {
  margin-top: 24px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  cursor: pointer;
  display: block;
  margin: 0 auto;

}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.modal-check-span {
  display: inline-flex;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-policy {
  color: #4d5ae5;
}

.modal-check:checked+.modal-check-text .modal-check-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}