body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width:768px) {
  .container {
    width: 768px;
    padding: 0 15px 0 15px;
  }
}

@media screen and (min-width:1158px) {

  .container {
    width: 1158px;
    padding: 0 15px 0 15px;
  }

}

/* HEDER */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-list {
  display: none;
}

.header-contact {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

}

.header-logo {
  padding: 16px 0;
  display: block;

}

.accent {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width:768px) {

  .burger-btn {
    display: none;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-contact {
    font-style: normal;
    display: block;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link.carret::after {
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .header-address {
    font-style: normal;
    margin-left: auto;

  }

  .header-menu-link:hover,
  .header-menu-link:focus,
  .header-menu-link.carret {
    color: #404bbf
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf
  }

  .header-menu-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }


  .header-menu-address-link:hover,
  .header-menu-address-link:focus {
    color: #404bbf;

  }

  .header-menu-link.carret {
    position: relative;

  }

  .header-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;

  }
}

@media screen and (min-width:1158px) {

  .header-logo {

    margin-right: 76px;

  }

  .header-menu-address-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

  }

  .header-contact {
    flex-direction: row;
    align-items: center;
    gap: 40px;

  }

}

/* MAIN */



.main-features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.main-features-subtitle {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;

}

.main-features-icon {
  display: none;
}

.main-features-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;

}

.main-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width:768px) {



  .main-features-list {

    flex-basis: calc((100% - 3 * 24px) / 2);
  }

  .main-features-item {
    text-align: left;
  }
}

@media screen and (min-width:1158px) {

  .main-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-features-subtitle {
    display: flex;
    gap: 24px;
    width: 1128px;
  }

  .main-features-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: calc((100% - 3 * 24px) / 4);

  }

  .main-features-item {
    font-weight: 500px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 8px;

  }

  .conteiner-main-name {
    margin-bottom: 8px;
  }

  .main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .main-achieved {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .main-team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .main-features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }
}

.main-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;

}

.main-team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;

}

.main-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;

}

.main-team-list {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;

}

.main-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.container-team-item {

  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.main-link-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}

.main-link-socseti {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-link-icon {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-cos-icon {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-team>.container {
  max-width: 288px;
}

@media screen and (min-width:768px) {

  .main-team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;

  }

  .main-team>.container {
    max-width: unset;
  }

  .main-team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .main-team-name {
    row-gap: 64px;
    justify-content: center;
    column-gap: 24px;

  }

  .main-link-icon:hover,
  .main-link-icon:focus {
    background: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}



@media screen and (min-width:1158px) {}